<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />


<% if @trips.any? and not current_driver.trips.find_by(status: :assigned)%>
  <h1>Viajes en busca de un conductor</h1>
  <%= render 'unassigned_trips', trips: @trips %>

<% elsif current_driver.trips.find_by(status: :assigned) %>

  <%= render 'assigned_trip' %>

<% else %>

  <h1>Por el momento no hay viajes...</h1>

<% end %>
