<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />

<body id="LoginForm">
  <div class="shadow bg-white m-auto w-50">
    <div id='map' class="mx-auto" style='height: 600px; text-align: justify'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWFsYmVydG85OCIsImEiOiJjam82ZWt4N2QwMzhqM3FvOWI1MnlsZ3N2In0.zx6DeOmfLPjcxmW-AAwgeg';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/dark-v9',
        center: [-100.316608, 25.685359],
        zoom: 13
    });
    </script>
    <%= button_to("Cancelar Viaje", @trip, method: :delete, class:"btn btn-danger btn-block") %>
  </div>
</body>
