<h1>Taxi Unico</h1>

<h3>Por favor, selecciona tu tipo de usuario</h3>

<ul>
	<li><%= button_to 'Cliente', home_client_url, method: 'get' %></li>
	<li><%= button_to 'Conductor', home_driver_url, method: 'get' %></li>
	<li><%= button_to 'Adminustrador', home_admin_url, method: 'get' %></li>
</ul>