<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taxi Unico Landing Page</title>
  </head>
  <body id="LoginForm">
    <div class="shadow bg-white m-auto pb-5 pt-5 w-50">


		<h2 class="text-center text-dark" >Taxi Unico</h2>

		<p class="text-muted text-center">Por favor, selecciona tu tipo de usuario</p>

      <div class="text-center">
			<%= button_to 'Cliente', home_client_url, method: 'get', :class => "btn btn-primary btn-lg w-75" %><br>
    	<%= button_to 'Conductor', home_driver_url, method: 'get', :class => "btn btn-primary btn-lg w-75" %><br>
      <%= button_to 'Administrador', home_admin_url, method: 'get', :class => "btn btn-primary btn-lg w-75" %><br>
      </div>
  </div>

</body>
</html>
