body{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #2b3e50;
}
input[type=text], input[type=password], input[type=email] {
 width: 75%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 box-sizing: border-box;
}

.btn.btn-primary {
  background: #204ab5;
}
